@model Clean.Site.Models.HomeModel
@inject Microsoft.AspNetCore.Mvc.ViewComponents.IViewComponentSelector selector
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>

@if (Model.Components != null && Model.Components.Any())
{
    foreach (var item in Model.Components)
    {
        @if (selector.SelectComponent(item.ContentType.Alias.ToFirstUpper()) != null)
        {
            @await Component.InvokeAsync(item.ContentType.Alias.ToFirstUpper(), item)
        }
        else
        {
            <p>No rendering found.</p>
        }
    }
}